<settings>
  <setting propertyKey="@Properties.trendDuration" title="@Strings.trendDurationTitle" prompt="@Strings.trendDurationPrompt">
    <settingConfig type="numeric" errorMessage="@Strings.trendDurationError" required="true" min="2" max="3600"/>
  </setting>
  <setting propertyKey="@Properties.excludeZero" title="@Strings.excludeZeroTitle">
    <settingConfig type="boolean" errorMessage="@Strings.excludeZeroError" required="true"/>
  </setting>
  <setting propertyKey="@Properties.ftp" title="@Strings.ftpTitle">
    <settingConfig type="numeric" errorMessage="@Strings.ftpError" required="true" min="0" max="999"/>
  </setting>
</settings>